# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# DebugFile
/Debug
# ReleaseFile
/Release
#.vs
/.vs
#WindowFiber
/WindowFiber/Debug
/WindowsMessageCircle/WindowsMessageCircle.vcxproj.filters
/WindowsMessageCircle/Debug/WindowsMessageCircle.log
/WindowsMessageCircle/Debug/WindowsMessageCircle.Build.CppClean.log
/WindowsMessageCircle/Debug/WindowsM.01F764D9.tlog/WindowsMessageCircle.lastbuildstate
/WindowsMessageCircle/Debug/WindowsM.01F764D9.tlog/link.write.1.tlog
/WindowsMessageCircle/Debug/WindowsM.01F764D9.tlog/link.read.1.tlog
/WindowsMessageCircle/Debug/WindowsM.01F764D9.tlog/link.command.1.tlog
/WindowsMessageCircle/Debug/WindowsM.01F764D9.tlog/CL.write.1.tlog
/WindowsMessageCircle/Debug/WindowsM.01F764D9.tlog/CL.read.1.tlog
/WindowsMessageCircle/Debug/WindowsM.01F764D9.tlog/CL.command.1.tlog
/WindowsMessageCircle/Debug/vc141.pdb
/WindowsMessageCircle/Debug/vc141.idb
/x64/Debug
/WindowFiber/x64/Debug/WindowFiber.tlog
/WindowFiber/x64/Debug
